<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>建设银行</string>
		<key>image</key>
		<string>20001@2x.png</string>
		<key>url</key>
		<string>http://www.ccb.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>工商银行</string>
		<key>image</key>
		<string>20002@2x.png</string>
		<key>url</key>
		<string>http://www.icbc.com.cn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>邮政银行</string>
		<key>image</key>
		<string>20003@2x.png</string>
		<key>url</key>
		<string>http://www.psbc.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>招商银行</string>
		<key>image</key>
		<string>20004@2x.png</string>
		<key>url</key>
		<string>http://baidu.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>交通银行</string>
		<key>image</key>
		<string>20005@2x.png</string>
		<key>url</key>
		<string>http://baidu.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>不啊银行</string>
		<key>image</key>
		<string>20006@2x.png</string>
		<key>url</key>
		<string>http://baidu.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>农业银行</string>
		<key>image</key>
		<string>20007@2x.png</string>
		<key>url</key>
		<string>http://www.abchina.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>联合银行</string>
		<key>image</key>
		<string>20008@2x.png</string>
		<key>url</key>
		<string>http://baidu.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中国银行</string>
		<key>image</key>
		<string>20009@2x.png</string>
		<key>url</key>
		<string>http://baidu.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杭州银行</string>
		<key>image</key>
		<string>20037@2x.png</string>
		<key>url</key>
		<string>http://baidu.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广发银行</string>
		<key>image</key>
		<string>20028@2x.png</string>
		<key>url</key>
		<string>http://www.icbc.com.cn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>渣打银行</string>
		<key>image</key>
		<string>20012@2x.png</string>
		<key>url</key>
		<string>http://baidu.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>民生银行</string>
		<key>image</key>
		<string>20030@2x.png</string>
		<key>url</key>
		<string>http://google.com</string>
	</dict>
</array>
</plist>
