<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pagetable_1</key>
	<array>
		<dict>
			<key>name</key>
			<string>上证50</string>
			<key>price</key>
			<real>12313.23</real>
			<key>raise</key>
			<real>2.76</real>
		</dict>
		<dict>
			<key>name</key>
			<string>上证180</string>
			<key>price</key>
			<real>3423.23</real>
			<key>raise</key>
			<real>2.8</real>
		</dict>
		<dict>
			<key>name</key>
			<string>沪深300</string>
			<key>price</key>
			<integer>32424</integer>
			<key>raise</key>
			<real>1.98</real>
		</dict>
		<dict>
			<key>name</key>
			<string>上证指数</string>
			<key>price</key>
			<integer>6200</integer>
			<key>raise</key>
			<real>2.5</real>
		</dict>
		<dict>
			<key>name</key>
			<string>深圳综合</string>
			<key>price</key>
			<integer>40988</integer>
			<key>raise</key>
			<real>1.9</real>
		</dict>
		<dict>
			<key>name</key>
			<string>恒生指数</string>
			<key>price</key>
			<integer>342425</integer>
			<key>raise</key>
			<real>-2.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
		<dict>
			<key>name</key>
			<string>日经指数</string>
			<key>price</key>
			<real>45666.55</real>
			<key>raise</key>
			<real>-4.56</real>
		</dict>
	</array>
	<key>pagetable_2</key>
	<array>
		<dict>
			<key>name</key>
			<string>浦发银行</string>
			<key>price</key>
			<real>13.23</real>
			<key>raise</key>
			<real>10.34</real>
		</dict>
		<dict>
			<key>name</key>
			<string>同花顺</string>
			<key>price</key>
			<real>34.23</real>
			<key>raise</key>
			<real>-2.8</real>
		</dict>
		<dict>
			<key>name</key>
			<string>四川长虹</string>
			<key>price</key>
			<real>7.42</real>
			<key>raise</key>
			<real>1.98</real>
		</dict>
		<dict>
			<key>name</key>
			<string>美的股份</string>
			<key>price</key>
			<real>6.43</real>
			<key>raise</key>
			<real>2.5</real>
		</dict>
	</array>
	<key>pagetable_3</key>
	<array>
		<dict>
			<key>name</key>
			<string>地产板块</string>
			<key>raise</key>
			<real>2.76</real>
		</dict>
		<dict>
			<key>name</key>
			<string>商业板块</string>
			<key>raise</key>
			<real>2.8</real>
		</dict>
		<dict>
			<key>name</key>
			<string>银行板块</string>
			<key>raise</key>
			<real>1.98</real>
		</dict>
		<dict>
			<key>name</key>
			<string>信息板块</string>
			<key>raise</key>
			<real>2.5</real>
		</dict>
		<dict>
			<key>name</key>
			<string>化工板块</string>
			<key>raise</key>
			<real>1.9</real>
		</dict>
		<dict>
			<key>name</key>
			<string>汽车板块</string>
			<key>raise</key>
			<real>-2.56</real>
		</dict>
	</array>
</dict>
</plist>
